
/* global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

/* main */
.container {
    width: 100%;
    max-width: 600px; 
    padding-top: 10vh; 
    text-align: center;
}

/* Header & Logo */
h1 {
    display: none; 
}

.logo-container {
    margin-bottom: 30px;
}

img {
    width: 100px; 
    height: 100px;
}

.logo-title {
    font-size: 28px;
    font-weight: bold;
    color: #1a4d9c;
    margin-top: 10px;
}

/* Search Bar */
.search-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.search-input {
    width: calc(100% - 100px); /* leave space for the button */
    padding-left: 50px;
    display: inline-block;
}

.search-input:focus {
    border-color: #9ac2ff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none; 
    font-size: 18px; 
}

/* link + text */
.search-link {
    color: #1a4d9c; /* Blue color from the image */
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.or-separator {
    margin: 20px 0;
    font-size: 16px;
    color: #777;
}


/* preview message */
.message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.preview-container {
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.preview-container h3 {
    color: #1a4d9c;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-top: 0;
}

.preview-container p {
    line-height: 1.6;
    margin: 5px 0;
}

.generate-button {
    width: 80px;
    display: inline-block;
    margin-left: 10px;
}

.generate-button:hover {
    background-color: #45a049;
}
